*, *:before, *:after {
    box-sizing: inherit;
  }
html {
    box-sizing: border-box;
  }
body {
    background-color: rgb(45, 45, 45);
}
nav {
    background-color: gray;
    display: flex;
    display: -webkit-flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: .2em;
    font-family: Arial, Helvetica, sans-serif;
}
nav a{
    margin: .2em 1em;
    padding: .2em;
    color: white;
}
nav a:hover{
    background-color: darkred;
}
.wrapper {
    background-color: rgb(85, 85, 85);
}
h1, h2, h3 {
    color: darkred;
}
h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.hero {
    width: 100%;
    height: auto;
    overflow: hidden;
}
footer {
    background-color: darkred;
    text-align: center;
    color:  white;
}
footer a{
    color: goldenrod;
}
.flex-container {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    background-color: white;
}
main {
    flex: 2;
    margin: 1em;
}
aside {
    flex: 1;
    margin: 1em;
}